use flake

export DATABASE_URL=postgres://postgres@localhost:6543/finapp
export RUST_LOG=finnish=debug,axum_login=debug,tower_sessions=debug,sqlx=warn,tower_http=debug,axum::rejection=trace
export OTEL_ENDPOINT=http://localhost:4317
export INSTANCE_ID=finnish-local
source_env ".secrets"
