<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ title }}{% endblock %}</title>

        <link nonce="{% block nonce %}{{ nonce }}{% endblock %}" rel="stylesheet" href="/static/pico.lime.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script nonce="{% block nonce %}{{ nonce }}{% endblock %}" src="/js/htmx.min.js"></script>

        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="container-fluid">
            <ul>
                {% block features %}{% endblock %}
            </ul>

            <ul>
                <li><strong><a href="/">Fina</a></strong></li>
            </ul>

            <ul>
                {% block logged_in %}{% endblock %}
            </ul>
        </nav>

        <main class="container" id="content">
            {% block content %}{% endblock %}
        </main>

        <footer class="container">
            <div class="grid">
                <div>
                    <small>
                    <a href="/about">About Us</a>
                    </small>
                </div>
                <div>
                    <small>© 2024 Fina. All rights reserved.</small>
                </div>
                <div>
                    <small>
                    <a href="/privacy">Privacy Policy</a>
                    <a href="/terms">Terms of Service</a>
                    </small>
                </div>
            </div>
        </footer>
    </body>
</html>
