{% extends "base_logged_in.html" %}

{% block title %}Expenses{% endblock %}

{% block content %}

<article>
    <h1>Change password</h1>

    <div id="change-password">
        <form hx-post="{{ change_password }}" hx-target="body" hx-swap="outerHTML">
            <input
                type="password"
                name="old_password"
                placeholder="Current password"
                aria-label="Password"
                autocomplete="current-password"
                id="old_password"
                required
            />
            <div hx-target="this" hx-swap="outerHTML">
                <input
                    type="password"
                    name="password"
                    placeholder="New password"
                    aria-label="Password"
                    autocomplete="new-password"
                    id="new_password"
                    hx-post="{{ password_strength }}"
                    hx-sync="closest form:abort"
                    hx-indicator="#ind"
                    required
                />
                <img id="ind" src="/img/bars.svg" class="htmx-indicator"/>
            </div>
            <div hx-target="this" hx-swap="outerHTML">
                <input
                    type="password"
                    name="confirm_password"
                    placeholder="Confirm new password"
                    aria-label="Password"
                    autocomplete="new-password"
                    id="new_password2"
                    hx-post="{{ passwords_match }}"
                    hx-sync="closest form:abort"
                    hx-indicator="#ind"
                    hx-include="#new_password"
                    required
                />
                <img id="ind" src="/img/bars.svg" class="htmx-indicator"/>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>

</article>

{% endblock %}
