{% extends "base_logged_in.html" %}

{% block title %}Expenses{% endblock %}

{% block content %}

<article>
    <h1>Change password</h1>

    <div id="change-password">
        <form hx-post="{{ url }}" hx-target="#change-password" hx-ext="json-enc">
            <input type="text" name="old_password" placeholder="Old password" required>
            <input type="text" name="new_password" placeholder="New password" required>
            <input type="text" name="new_password2" placeholder="Repeat new password" required>
            <button type="submit">Change password</button>
        </form>
    </div>

</article>

{% endblock %}
