<tr hx-trigger='cancel' class='editing' hx-get="/expenses/{{ uuid }}">
    <td><input type='date' name='date' value='{{ date }}'></td>
    <td><input type='text' name='description' value='{{ description }}'></td>
    <td><input type='number' step='0.01' name='price' value='{{ price }}'></td>
    <td><select name="category" id="category">
        {% for category in expense_categories.clone() %}
            {% if category == current_category %}
                <option value="{{ category }}" selected>{{ category }}</option>
            {% else %}
                <option value="{{ category }}">{{ category }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <td><input type='checkbox' name='is_essential' role='switch' value='true' {{ is_essential }}></td>
    <td>
        <button class="contrast" hx-get="/expenses/{{ uuid }}/delete-modal" hx-target="#delete-modal-here" hx-swap="innerHTML">
          Delete
        </button>
        <button class="btn btn-danger" hx-get="/expenses/{{ uuid }}">
          Cancel
        </button>
        <button class="btn btn-danger" hx-put="/expenses/{{ uuid }}" hx-include="closest tr">
          Save
        </button>
    </td>
</tr>
