{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block content %}

<section class="section" id="expenses">
<h3>Carol's Expenses</h3>

<form hx-get="/expenses" hx-ext="my-json-enc" hx-target="#expenses-table-body">
    <select name="month" id="month">
        {% for month in months.clone() %}
            {% if month == current_month %}
                <option value="{{ month }}" selected>{{ month }}</option>
            {% else %}
                <option value="{{ month }}">{{ month }}</option>
            {% endif %}
        {% endfor %}
        <option>Entire year</option>
    </select>

    <button type="submit">Search</button>
</form>

<figure>
<table class="table" role="grid">
    <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Essencial</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="expenses-table-body" hx-target="closest tr" hx-swap="outerHTML">
    </tbody>
</table>
</figure>
</section>

{% endblock %}
