{% extends "base.html" %}

{% block nonce %}{{ nonce }}{% endblock %}

{% block head %}
<script nonce="{{ nonce }}" type="text/hyperscript" src="/js/functions._hs"></script>
<script nonce="{{ nonce }}" src="/js/hyperscript.min.js"></script>
<script nonce="{{ nonce }}" src="/js/response-targets.js"></script>
<script
  nonce="{{ nonce }}"
  type="module"
  src="/js/widget.module.min.js"
></script>
<script nonce="{{ nonce }}" nomodule src="/js/widget.min.js" ></script>
{% endblock %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<article>
    <h1>Forgot Password</h1>

    <div id="resend-confirmation">
        <p>
            If you forgot your password, you can reset it by entering your email address below.
            We will send you a confirmation email with a link to reset your password.
        </p>
        <form hx-post="{{ forgot_url }}" hx-target="#forgot-password-response" hx-target-error="#forgot-password-response" _="on htmx:afterOnLoad call resetCaptcha()">
            <div hx-target="this" hx-swap="outerHTML">
                <div class="grid">
                <img id="ind" src="/img/bars.svg" class="htmx-indicator"/>
                </div>
                <input
                  type="email"
                  name="email"
                  placeholder="email@server.com"
                  aria-label="Email"
                  autocomplete="email"
                  hx-post="/validate/email"
                  hx-sync="closest form:abort"
                  hx-indicator="#ind"
                  required
                />
            </div>
            <button id="form-button-submit" type="submit" disabled>Resend Confirmation Email</button>
            <div class="frc-captcha" data-sitekey="{{ frc_sitekey }}" data-callback="onCaptcha"></div>
        </form>

        <div id="forgot-password-response"></div>
    </div>

    <footer><a href="{{ login_url }}">Go To Login Page</a></footer>
</article>

{% endblock %}
