{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block content %}

<article class="grid">
    <hgroup>
    <h1>Sign in</h1>
    <h2>A minimalist layout for Login pages</h2>
    </hgroup>
    <form>
    <input
      type="text"
      name="login"
      placeholder="Login"
      aria-label="Login"
      autocomplete="nickname"
      required
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      aria-label="Password"
      autocomplete="current-password"
      required
    />
    <fieldset>
      <label for="remember">
        <input type="checkbox" role="switch" id="remember" name="remember" />
        Remember me
      </label>
    </fieldset>
    <button type="submit" class="contrast" onclick="event.preventDefault()">Login</button>
    </form>
</article>
