{% extends "base.html" %}

{% block title %}Auth{% endblock %}

{% block nonce %}{{ nonce }}{% endblock %}

{% block head %}
<script nonce="{{ nonce }}" type="text/hyperscript" src="/js/functions._hs"></script>
<script nonce="{{ nonce }}" src="/js/hyperscript.min.js"></script>
<script nonce="{{ nonce }}" src="/js/response-targets.js"></script>
<script
  nonce="{{ nonce }}"
  type="module"
  src="/js/widget.module.min.js"
></script>
<script nonce="{{ nonce }}" nomodule src="/js/widget.min.js" ></script>
{% endblock %}

{% block content %}

<article id="signin-article" class="grid" hx-ext="response-targets">
    <div>
        <nav class="tab-list" role="tablist">
          <ul>
            <li>Sign In</li>
            <li><a role="tab" aria-selected="false" aria-controls="tab-content" href="/auth/signup">Sign Up</a></li>
          </ul>
        </nav>

        <hgroup>
        <h1>Sign in</h1>
        <h2>Enter your user credentials</h2>
        </hgroup>
    </div>

    <div id="tab-content" role="tabpanel" class="tab-content">
        <form id="signin-form" hx-post="/auth/signin" hx-target="#signin-article" hx-target-error="#message" _="on htmx:afterOnLoad call resetCaptcha()">
            <input
              type="text"
              name="email"
              placeholder="Email"
              aria-label="Email"
              autocomplete="email"
              required
            />
            <input
              type="password"
              name="password"
              placeholder="Password"
              aria-label="Password"
              autocomplete="current-password"
              required
            />
            <button id="form-button-submit" type="submit" class="contrast" disabled>Login</button>
            <fieldset>
                <label for="remember">
                    <input type="checkbox" role="switch" id="remember" name="remember" />
                    Remember me
                </label>
            </fieldset>
            <a href="/auth/forgot-password">Forgot your password?</a>
            <p> </p>
            <div class="frc-captcha" data-sitekey="{{ frc_sitekey }}" data-callback="onCaptcha"></div>
        </form>
        <div id="message">{{ message }}</div>
    </div>
</article>

{% endblock %}
